<div class="widget" ng-show="$ctrl.widgetVisible">
	<div id="slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<!-- conteúdo do autocomplete -->
			<div class="item item-widget active">
				<div class="request-status">
					<span ng-show="!$ctrl.isLoadingItems">...</span>
					<img src="images/loading.gif" ng-show="$ctrl.isLoadingItems" />
				</div>
				<!-- ações estáticas -->
				<div class="widget-actions">
					<span class="title">Calcular Posologia</span>
					<ul class="list">
						<li data-target="#slider" data-slide-to="1" class="list-item" ng-repeat="action in $ctrl.actions">
							<div class="list-item-image-container">
								<span class="circle"></span>
							</div>
							<div class="list-item-title-container">
								<span class="list-item-title">{{action}}</span>
							</div>
							<div class="glyphicon-container">
								<span class="glyphicon glyphicon-menu-right"></span>
							</div>
						</li>
					</ul>
					<div class="show-more-container">
						<a href="">Mais...</a>
					</div>
				</div>
				<!-- lista de medicamentos gerada de acordo com a query -->
				<div class="widget-remedies" ng-hide="!$ctrl.items">
					<span class="title">Apresentações</span>
					<!-- request gerou um erro -->
					<div class="text-center message" ng-show="$ctrl.isReqError">
						Um erro ocorreu
					</div>
					<div ng-hide="$ctrl.isReqError">
						<!-- request com 0 itens -->
						<div class="text-center message" ng-show="$ctrl.items.length === 0">
							Sem itens
						</div>
						<!-- request com itens -->
						<div ng-show="$ctrl.items.length > 0">
							<ul class="list">
								<li class="list-item" ng-repeat="item in $ctrl.items">
									<div class="list-item-image-container">
										<img class="list-item-image" ng-src="{{item.thumbnail}}">
									</div>
									<div class="list-item-title-container">
										<span class="list-item-title">{{item.name}}</span>
									</div>
								</li>
							</ul>
							<div class="show-more-container">
								<a href="" ng-click="$ctrl.getNextItemsWidget()">Mais...</a>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-powered-container text-right">
					<span>Powered by Memed</span>
				</div>
			</div>
			<!-- conteúdo do formulário -->
			<div class="item item-form">
				<div class="form-container">
					<div class="back-link-container">
						<a href="javascript:void(0)" data-target="#slider" data-slide-to="0">
							<div class="glyphicon-container">
								<span class="glyphicon glyphicon-menu-left"></span>
							</div>
							<span class="back-link-label">Voltar</span>
						</a>
					</div>
					<form class="form-horizontal" ng-submit="$ctrl.calculate()">
						<div class="form-group form-group-nav text-center">
							<ul class="nav nav-pills">
								<li ng-class="{ active: $ctrl.formData.patientType == patientType }" ng-repeat="patientType in $ctrl.patientTypes" ng-click="$ctrl.selectPatientType(patientType)"><a href="javascript:void(0)">{{patientType}}</a></li>
							</ul>
						</div>
						<div class="form-group">
							<div class="control-label-container">
								<label class="control-label">Forma Física</label>
							</div>
							<div class="form-control-container">
								<select class="form-control" ng-model="$ctrl.formData.physicalForm">
									<option ng-repeat="physicalForm in $ctrl.physicalForms" ng-value="physicalForm">{{physicalForm}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="control-label-container">
								<label class="control-label">Peso Paciente:</label>
							</div>
							<div class="form-control-container">
								<input type="text" class="form-control" readonly ng-value="$ctrl.getPatientWeightText()">
								<input type="range" min="1" max="100" ng-model="$ctrl.formData.patientWeight">
							</div>
						</div>
						<div class="form-group">
							<div class="control-label-container">
								<label class="control-label">Concentração:</label>
							</div>
							<div class="form-control-container">
								<input type="text" class="form-control" readonly ng-value="$ctrl.getConcentrationText()">
								<input type="range" min="1" max="100" ng-model="$ctrl.formData.concentration">
							</div>
						</div>
						<div class="form-group">
							<div class="control-label-container">
								<label class="control-label">Frequência:</label>
							</div>
							<div class="form-control-container">
								<input type="text" class="form-control" readonly ng-value="$ctrl.getFrequencyText()">
								<input type="range" min="0" max="4" ng-model="$ctrl.formData.frequency">
							</div>
						</div>
						<div class="form-group">
							<div class="control-label-container">
								<label class="control-label">Duração:</label>
							</div>
							<div class="form-control-container">
								<input type="text" class="form-control" readonly ng-value="$ctrl.getDurationText()">
								<input type="range" min="1" max="100" ng-model="$ctrl.formData.duration">
							</div>
						</div>
						<div class="form-button-container">
							<input class="btn btn-primary btn-lg btn-success btn-block" type="submit" value="Concluir Posologia">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>