<div class="container index-page" ng-controller="indexController">
	<div class="row vertical-offset-100">
		<div class="col-md-4 col-md-offset-4">
			<div class="text-center logo-container">
				<img class="logo-image" src="images/logo-memed.png">
			</div>
			<div class="form-group">
				<input type="text" id="search-input" class="form-control" placeholder="Pesquisar...">
			</div>
		</div>
	</div>

	<!-- widget -->
	<ac-widget config="acConfig"></ac-widget>
</div>