/* logo */
$logo_size: 100px;

/* widget */
$widget_width: 680px;
$widget_primary_color: #223440;
$widget_secondary_color: rgba(34, 52, 64, 0.17);
$widget_tertiary_color: rgba(34, 52, 64, 0.1);
$widget_quaternary_color: #00b1d9;
$widget_title_color: rgba(34, 52, 64, 0.5);
$widget_button_border_color: rgba(34, 52, 64, 0.25);
$widget_nav_back_color: rgba(0, 157, 255, 0.08);
$widget_font: 'ProximaNova';
$widget_pimage_size: 26px;