$font_name: 'Proximanova';

/* font 1 */
$font1_src: 'https://daks2k3a4ib2z.cloudfront.net/56b1d2562a5984ca7a7a4042/56b1d2562a5984ca7a7a4062_ProximaNova-Light.otf';
$font1_format: 'opentype';
$font1_weight: 200;
$font1_style: normal;

/* font 2 */
$font2_src: 'https://daks2k3a4ib2z.cloudfront.net/56b1d2562a5984ca7a7a4042/56b1d2562a5984ca7a7a409c_ProximaNova-Thin.otf';
$font2_format: 'opentype';
$font2_weight: 300;
$font2_style: normal;

/* font 3 */
$font3_src: 'https://daks2k3a4ib2z.cloudfront.net/56b1d2562a5984ca7a7a4042/56b1d2562a5984ca7a7a4063_ProximaNova-Regular.otf';
$font3_format: 'opentype';
$font3_weight: 400;
$font3_style: normal;

/* font 4 */
$font4_src: 'https://daks2k3a4ib2z.cloudfront.net/56b1d2562a5984ca7a7a4042/56b1d2562a5984ca7a7a4064_ProximaNova-Semibold.otf';
$font4_format: 'opentype';
$font4_weight: 500;
$font4_style: normal;

@font-face {
    font-family: $font_name;
    src: url($font1_src) format($font1_format);
    font-weight: $font1_weight;
    font-style: $font1_style;
}

@font-face {
    font-family: $font_name;
    src: url($font2_src) format($font2_format);
    font-weight: $font2_weight;
    font-style: $font2_style;
}

@font-face {
    font-family: $font_name;
    src: url($font3_src) format($font3_format);
    font-weight: $font3_weight;
    font-style: $font3_style;
}

@font-face {
    font-family: $font_name;
    src: url($font4_src) format($font4_format);
    font-weight: $font4_weight;
    font-style: $font4_style;
}