input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: $widget_secondary_color;
	border-radius: 1.3px;
	border: 0.2px solid $widget_secondary_color;
}
input[type=range]::-webkit-slider-thumb {
	border: 1px solid $widget_secondary_color;
	height: 16px;
	width: 16px;
	border-radius: 16px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}
input[type=range]::-moz-range-thumb {
	border: 1px solid $widget_secondary_color;
	height: 16px;
	width: 16px;
	border-radius: 16px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}