ac-widget {
	.widget {
		.item-form {
			.form-container {
				width: 365px;
				height: 423px;
				margin: 0 auto;
				position: relative;
				.back-link-container {
					position: absolute;
					top: 0;
					left: -135px;
					.glyphicon-container {
						float: left;
						font-size: 18px;
					}
					.back-link-label {
						font-size: 14px;
						display: block;
						float: left;
						line-height: 22px;
					}
				}
				.form-horizontal {
					.form-group {
						margin: 0 0 20px 0;
						.nav-pills {
							display: inline-block;
							li {
								margin: 0 8px;
								a {
									font-size: 13px;
									padding: 2px 5px 0 5px;
									letter-spacing: 0.3px;
									color: $widget_primary_color;
								}
							}
							li.active {
								a {
									color: $widget_quaternary_color;
									border-radius: 4px;
									background-color: $widget_nav_back_color;
								}
							}
						}
						.control-label-container {
							float: left;
							.control-label {
								font-size: 15px;
							}
						}
						.form-control-container {
							width: 250px;
							float: right;
							input[type=text] {
								width: 120px;
								float: left;
							}
							input[type=range] {
								width: 120px;
								float: right;
								margin: 15px 0;
								-webkit-appearance: none;
								&:focus {
									outline: none;
								}
							}
							input[readonly] {
								background-color: #FFFFFF;
							}
							.form-control {
								font-size: 14px;
							}
						}
					}
					.form-group-nav {
						margin: 5px 0 45px 0;
					}
					.form-button-container {
						margin: 25px 0 0 0;
					}
				}
				.btn {
					width: 365px;
					font-size: 15px;
					border-radius: 5px;
					background-color: $widget_quaternary_color;
					border: solid 1px $widget_button_border_color;
				}
			}
		}
	}	
}