ac-widget {
	position: absolute;
	width: $widget_width;
	font-family: $widget_font;
	color: $widget_primary_color;
	font-size: 14px;
	.widget {
		background: #FFFFFF;
		border: 1px solid $widget_secondary_color;
		border-radius: 4px;
		padding: 6px 0;
		a {
			color: $widget_quaternary_color;
			&:active, &:hover, &:focus {
				text-decoration: none;
			}
		}
		.item-widget {
			.request-status {
				border: 1px solid $widget_secondary_color;
				width: 20px;
				height: 20px;
				border-radius: 10px;
				position: absolute;
				top: 0;
				right: 10px;
				color: $widget_secondary_color;
				font-size: 20px;
				text-align: center;
				line-height: 9px;
				cursor: pointer;
				img {
					width: 100%;
					height: 100%;
				}
			}
			span.title {
				padding: 0 20px;
				font-size: 12px;
				letter-spacing: 0.3px;
				color: $widget_title_color;
				text-transform: uppercase;
			}
			ul.list {
				list-style-type: none;
				padding: 0;
				margin: 5px 0 0 0;
				li.list-item {
					padding: 2px 14px 2px 20px;
					font-size: 14px;
					clear: both;
					cursor: pointer;
					overflow: auto;
					&:hover {
						background: $widget_tertiary_color;
					}
					div.list-item-image-container {
						float: left;
						margin-right: 20px;
						img.list-item-image {
							width: $widget_pimage_size;
							height: $widget_pimage_size;
						}
						span.circle {
							display: block;
							width: $widget_pimage_size;
							height: $widget_pimage_size;
							border-radius: 13px;
							background: $widget_tertiary_color;
						}
					}
					div.list-item-title-container {
						float: left;
						line-height: $widget_pimage_size;
					}
					div.glyphicon-container {
						float: right;
						span {
							font-size: 11px;
							line-height: $widget_pimage_size;
							color: $widget_tertiary_color;
						}
					}
				}
				li.list-item-selected {
					background: $widget_secondary_color;
				}
			}
			.show-more-container {
				padding: 5px 0 0 65px;
				a {
					font-size: 14px;
				}
			}
			.widget-remedies {
				margin-top: 15px;
			}
			.widget-powered-container {
				padding: 0 10px 0 0;
				span {
					font-size: 11px;
				}
			}
		}
	}	
}